.header {
    height: 4em;
    background-color: white;
    text-align: center;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 0px 3px 5px #cecece;
    font-size: 1.7em;
}

.page {
    background-color: #F1F2F3;
    height: 100%;
    width: 100%;
    padding-bottom: 10px;
}

hr {
    margin-bottom: 40px;
    box-shadow: 0px 3px #f8f8f8;
    height: 20px;
    border: none;
    border-bottom: 1px solid #e7e7e7;
    margin-top: 0;
}

.logo {
    overflow: hidden;
    margin:0;
}

img {
    height: 51px;
    width: 50px;
    border-top: 1px solid #0A5B9A;
    border-bottom: 3px solid #0A5B9A;
    padding-top: 0;
    padding-bottom: 0;
}

#blueStar {
    position: relative;
    top: 11.7px;
}

p {
    text-align: center;
    color: #2973AF;
    font-size: 2em;
    font-weight: 600;
    margin-top: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

label {
    color: #CFD8E8;
    text-align: right;
    display: inline-block;
    width: 170px;
    font-size: 1.1em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

input {
    width: 40%;
    height: 25px;
    border-radius: 4px;
    border: 1px solid #E7E7E7;
    margin-bottom: 8px;
    margin-left: 5px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

form {
    width: 50%;
    height: 30%;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
    margin-bottom: 10%;
    margin-top: 70px;
    border: 1px solid #ebebeb;
    box-shadow: 0px 2px 2px #cecece;
}

button {
    background-color: #EDF0ED;
    box-shadow: 0px 4px #D9E2DB;
    color: white;
    border-radius: 20px;
    height: 40px;
    width: 130px;
    font-size: 1.1em;
    border: none;
    font-weight: 600;
    margin-bottom: 35px;
    margin-top: 10px;
}

.enabled {
    background-color: #A1C55B;
    box-shadow: 0px 4px #717A5E;
}

#w3 {
    color: #0A5B9A;
    border-top: 1px solid #0A5B9A;
    border-bottom: 3px solid #0A5B9A;
    border-left: 2px solid #0A5B9A;
    font-family: 'Josefin Sans', sans-serif;
    letter-spacing: -8px;
    height: 40px;
    font-size: 1.1em;
    position: relative;
    bottom: 4px;
    line-height: 10%;
}

::placeholder {
    color: rgb(94, 94, 94);
}

#textShadow {
    text-shadow: 1px 3px #221B0B;
    color: white;
    border-top: 1px solid #0A5B9A;
    border-bottom: 3px solid #0A5B9A;
    font-family: 'Josefin Sans', sans-serif;
    padding-top: 0;
    padding-bottom: 0;
    font-size: 1.1em;
    position: relative;
    bottom: 4px;
    line-height: 10%;
}

#svg {
    color: white;
    background-color: #0A5B9A;
    border-bottom: 2px solid #0A5B9A;
    border-top: 1px solid #0A5B9A;
    letter-spacing: -4px;
    padding-right: 7px;
    padding-left: 7px;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: .78em;
    padding-top: 0;
    padding-bottom: 0;
    line-height: 10%;
    position: relative;
    bottom: .7px;
}

.labelInput1 {
    margin-bottom: 6px;
    text-align: center;
}

.labelInput2 {
    margin-bottom: 6px;
    text-align: center;
}

.button {
    text-align: right;
    margin-right: 40px;
}

.inputs {
    margin-right: 50px;
}

#dobInput {
    margin-bottom: 20px;
    color: rgb(94, 94, 94);
}

#ssn {
    color: rgb(94, 94, 94);
}

.completeImage {
    font-size: 1.7em;
}


/* media queries for responsive web page */
@media screen and (max-width: 850px) {
    .page {
        background-color: #1a86f3;
    }

    p {
        font-size: 1.7em;
    }

    label {
        font-size: .8em;
    }

    input {
        font-size: .7em;
    }

    button {
        height: 30px;
        width: 100px;
        font-size: .8em;
    }

    form {
        width: 60%;
    }
}

@media screen and (max-width: 808px) {
    .page {
        background-color: #13eb42;
    }

    .inputs {
        margin-right: 20px;
    }

    label {
        text-align: center;
        font-size: .6em;
    }

    input {
        width: 30%;
        font-size: .6em;
    }

    p {
        font-size: 1.4em;
    }
}

@media screen and (max-width: 620px) {
    .page {
        background-color: pink;
    }

    button {
        height: 20px;
        width: 67px;
        font-size: .6em;
    }

    form {
        width: 70%;
    }
}

@media screen and (max-width: 435px) {
    form {
        width: 74%;
    }
}

@media screen and (max-width: 420px) {
    .page {
        background-color: red;
    }

    input {
        width: 70%;
    }

    .inputs {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 0;
    }

    #dobInput {
        margin-bottom: 0;
    }

    #submitButton {
        margin-top: 20px;
    }

    p {
        margin-bottom: 0;
    }
}

@media screen and (max-width: 280px) {
    p {
        font-size: 1.1em;
    }

    form {
        width: 80%;
    }
}