body {
    margin: 0;
    background-image: linear-gradient(to top, lightgrey 0%, lightgrey 1%, #e0e0e0 26%, #efefef 48%, #d9d9d9 75%, #bcbcbc 100%);
    overflow-y: hidden;
    background-blend-mode: normal;
}

h3 {
    text-align: center;
}

.container {
    height: 75vh;
    width: 70.1vw;
    margin: 1rem auto;
    margin-bottom: 7rem;
    /* background: url('./assets/nightSky.jpeg'); */
    /* background-size: cover; */
    position: relative;
    box-shadow: 1px 2px 60px rgba(0, 0, 0, 0.4);
    overflow-x: hidden;
    overflow-y: hidden;
}

.night {
    height: 100%;
    width: 130%;
    background: url('./assets/nightSky.jpeg');
    /* background-size: cover; */
    display: block;
    position: relative;
    /* overflow-x: hidden; */
    background-repeat: repeat-x infinite;
}

.surface {
    height: 95px;
    width: 700%;
    background: url('./assets/surface.jpg');
    display: block;
    position: absolute;
    bottom: 0%;
    left: 0%;
    background-repeat: repeat-x;
}

.car {
    position: absolute;
    bottom: 11.5%;
    left: 20%;
}

/* Animation */
@keyframes moveRight {
    100%{transform: translateX(-2950px)}
}

/* @keyframes carSpeed {
    100%{transform: translateX(1000px)}
} */

@keyframes suspension {
    100%{
        transform: translateY(-1px)
    }
    50%{
        transform: translateY(-4px)
    }
    0%{
        transform: translateY(4px)
    }
}

@keyframes nightSky {
    100%{transform: translateX(-1700px)}
}


.moveRight {
    animation: moveRight .5s linear infinite;
}

/* .carSpeed {
    animation: carSpeed 20s linear infinite; 
} */

.suspension {
    animation: suspension .2s linear infinite;
}

.nightSky {
    animation: nightSky 360s linear infinite;
}
